<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Администратор</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-black">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-2 mr-auto">
      <a class="navbar-brand" href="/">Главная</a>
      <li class="nav-item">
        <a  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/patient" id="patients">Пациенты</a>
      </li>
      <li class="nav-item">
        <a  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/doctor" id="doctors">Врачи</a>
      </li>
      <li class="nav-item">
        <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" href="/user">Личный кабинет</a>
      </li>
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/author">Об авторе</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <li>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" th:text="${#authentication.name}" class="nav-link active"></a>
      </li>
      <li class="nav-item">
        <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/registration">Регистрация</a>
      </li>
      <li class="nav-item">
        <a sec:authorize="not hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/login">Войти</a>
      </li>
      <li class="nav-item">
        <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" class="nav-link" href="/logout">Выйти</a>
      </li>
    </ul>
  </div>
</nav>

<blockquote class="blockquote text-center"><h1>Об авторе</h1>
<h3>Работу выполнила студентка Факультета ИТиАБД,</h3>
<h3>Направления Прикладная информатика, группы ПИ21-4</h3>
<h3>Изотова Валентина Дмитриевна</h3></blockquote>

<div class="social-icons">
  <a href="https://vk.com/tini_iz"><img th:src="@{/images/vk.png}"></a>
  <a href="https://t.me/tinininini945"><img th:src="@{/images/tg.png}"></a>
  <a href="https://github.com/Tiniiz"><img th:src="@{/images/git.png}"></a>
</div>

</body>
</html>